/* 카카오지도 틀 */

body{
    height: 100vh;
}

nav{
    height: 59px;
}

main{
    padding-top: 1.5rem;
    height: calc(100% - 59px);
    display: flex;
    flex-direction: column;
}

#map{
    flex-grow: 1;
    width:100%;
    height: 100%;
}


/* 인포윈도우 틀 */
.infowindow{
    width: 25rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: beige;
}

.infowindow-img-container {
    width: 100%;
    overflow: hidden;
}

.infowindow-img {
    width: 100%;
}

.infowindow-title {
    font-size: 2.5rem;
    font-family: 'BMJUA';
}

.star{
    font-size: 1.5rem;
}

.infowindow-address {
    font-size: 1.6rem;
    font-family: 'SUITE-Regular';
}

.infowindow-category {
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-family: 'BMJUA';
}

.infowindow-btn {
    font-size: 1.6rem;
}

.infowindow-review{
    font-size: 1.6rem;
    font-family: 'Dovemayo_gothic';

    width: 24.5rem;
    border: 1px solid rgba(0, 0, 0, 0.466);
    border-radius: 4px;
    background-color: white;

}

