header{
    clear: both;
    float: left;
    width: 100%;
}

/* 모바일 */
@media screen and (min-width:0px) and (max-width:1199px){
body{background: #fff}
#reviewWriteCenter{width: 80%}
    
}

/* PC */
@media screen and (min-width:1200px){  
}


.innerReview{
    padding: 0 20rem;
  }
  
  @media all and (min-width: 1024px) {
    .innerReview {
      max-width: 1024px;
      margin: 0 auto;
    }
  }


#reviewWriteCenter{
    margin: 0 auto;
}

#reviewWriteForm{
    float: left;
    width: 98%;
    margin: 20px 0 40px 0;
    padding-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.row{
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 1.5rem;
}

.row h2{
    float: left;
    width: 20%;
    padding-left: 5%;
    font-size: 1.5rem;
}




.inputBox{
    float: left;
    width: 90%;
    height: 25px;
    background: #fff;
    margin-top: 0.8rem;
    margin-left: 3rem;
    border: 1px solid #dadada;
    border-radius: 3px;
}

.row input{
    float: left;
    width: 98%;
    font-size: 1.5rem;
    margin-left: 0;
    background: #fff;
    border: none;
    outline: none;
}

textarea{
    width: 75%;
    height: 120px;
    border: 1px solid #dadada;
    border-radius: 3px;
    outline: none;
}

.row .selectBox{
    float: left;
    width: 21%;
    border: 1px solid #dadada;
    border-radius: 3px;
    background: #fff;
    margin-top: 3px;
}

.row .selectBox select{
    float: left;
    background: #fff url('../images/selectTagBg.png');
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 100% 3px;
    width: 90%;
    margin-left: 10px;
    font-size: 1.2rem;
    outline: none;
}

#categoryLabel{
    clear: both;
    width: 80%;
    margin: 0 auto;
}

#cMK{
    border-left: none;
}


.row .picButton{
    display: flex;
}

.picButton label{
    cursor: pointer;
    font-size: 1.5em;
    font-family: '  square';
    border: 1px solid #dadada;
    border-radius: 3px;
}

#chooseFile{
    visibility: hidden;
}

#valueError{
    float: left;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 2rem;
}

.submitBox{
    clear: both;
    float: left;
    width: 25%;
    padding: 0.5rem;
    background: #03c75a;
    margin-left: 38%;
    border-radius: 10px;
}

#reviewWriteSubmit{
    float: left;
    width: 100%;
    background: none;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

#reviewWriteSubmit:hover{
    cursor:pointer;
  }

/* 라디오 이미지 */
.cc-selector input{
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cc-selector input:active + .button-cc{opacity: .5;}

.cc-selector input:checked + .button-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.button-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:30px;height:30px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.button-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.button-cc img{
    width: 30px;
    height: 30px;
    margin-top: 0.8rem;
    margin-left: 3rem;
    margin-right: 3rem;
}